---
import { getCollection } from 'astro:content';
import TraineeLayout from '@/layouts/TraineeLayout.astro';
import Training from '@/components/Training.astro';

export async function getStaticPaths() {
  const pages = await getCollection('dani');

  return pages.map(page => {
    const id = page.id.split('/');
    return { params: { id: id.join('/') || undefined }, props: page };
  });
}

const page = Astro.props;
---
<TraineeLayout title={page.id} phrase=`Semana ${page.data.week} Día ${page.data.day}`>
  <Training exercises={page.data.exercises} />
        <!-- <table class="responsive-table">
          <thead>
            <tr>
              <th>Orden</th>
              <th>Ejercicio</th>
              <th>Sets</th>
              <th>Reps</th>
              <th>Tempo</th>
              <th>Descanso</th>
            </tr>
          </thead>
          <tbody>
            {page.data.exercises.map(exercise => (
              <tr>
                <td data-label="Orden">{exercise.order}</td>

                <td data-label="Ejercicio">{exercise.link && <a href={exercise.link} target="_blank" rel="noopener noreferrer">{exercise.exercise}</a>}{!exercise.link && exercise.exercise}</td>
                <td data-label="Sets">{exercise.sets}</td>
                <td data-label="Reps">{exercise.reps}</td>
                <td data-label="Tempo">{exercise.tempo}</td>
                <td data-label="Descanso">{exercise.rest}</td>
                {exercise.note && <td data-label="Notas">{exercise.note}</td>}
              </tr>
        ))}
      </tbody>
    </table> -->
</TraineeLayout>