---
import { Image } from "astro:assets";
import AstroImage from "@/img/astro.webp"
const { url, title, description, date } = Astro.props;
---


<li>
  <article>
    <a href={url}>
      <header>
        <span>
          {date}
        </span>
      </header>     
      <div>
        <Image src={AstroImage} alt="una imagen"/>
      </div>
      <div>
        <h3>{title}</h3>
        <p>{description}</p>
      </div>
    </a>
  </article>
</li>
  



<style>
  li {
    background-color: red;
    list-style-type: none;
  }

  article {
    padding: 1rem;
  }
  img{
    max-width: 100%;
    height: auto;
  }
</style>