---
import { Image } from "astro:assets";
import ViewsList from "./ViewsList.astro";
const { url, title, description, date, image, alt, slug } = Astro.props;
---


<li>
  <article>
    <a href={url}>
      <header>
        <span>
          <time datetime={date}>
            {date}
          </time>
          <ViewsList slug={slug}/>
        </span>
      </header>     
      <div>
        <Image src={image} alt={alt} width={1500} height={643} />
      </div>
      <div class="information">
        <h2>{title}</h2>
        <p>{description}</p>
      </div>
    </a>
  </article>
</li>
  
<style>
  li {
    background-color: rgba(145, 145, 145, 0.4);
    border-radius: 22px;
  }
  article {
    padding: 1rem;
  }
  img{
    max-width: 100%;
    height: auto;
    max-height: 384.5px;
    object-fit: cover;
  }
  div{
    margin-block: 1dvh
  }
  .information{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  p{
    max-width: 35ch;
    opacity: .9;
  }
  @media screen and (min-width: 1024px) {
    .information{
      flex-direction: row;
    }
  }
</style>