---
import { Image } from "astro:assets";
import LightMario from "@/img/light-mario.webp";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@/i18n/utils';

import { getI18N } from "@/i18n";

const {currentLocale} = Astro;

const i18n = getI18N({currentLocale})
---

<section>
  <Image src={LightMario} alt="Yo en el about"></Image>
  <div>
    <p>Frase que aún no encuentro</p>
  </div>
  <hr>
  <div class="first">
    <h2>{i18n.HEROABOUT_TITLE}</h2>
    <p>{i18n.HEROABOUT_TEXT}</p>
  </div>
  <hr>
  <div>
    <div class="second">
      <h2>{i18n.HEROABOUT_TITLE2}</h2>
      <p>{i18n.HEROABOUT_TEXT2}</p>
    </div>
    <Image src={LightMario} alt="Yo en el about"></Image>
  </div>
  <hr>
  <h2>{i18n.HEROABOUT_TITLE3}</h2>
  <ul>
    <li>{i18n.HEROABOUT_TEXT3}</li>
  </ul>
</section>

<style>
  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 8dvh;
    align-items: center;
  }
  div {
    width: 100%;
    text-align: left;
  }
  h2{
    text-align: center;
    margin-bottom: 14px;
    max-width: 50ch
  }
  p {
    max-width: 60ch;
    padding-inline: 2rem;
    line-height: 1.75rem;
    font-weight: 300;
  }
  hr {
    margin-block: 14px;
    width: 98dvw;
  }
  img {
    max-width: 100%;
  }
  @media screen and (min-width: 1024px) {
    div{
      display: flex;
      gap: 10px;
      padding-inline: 3rem;
      align-items: center;
    }
    h2{
      max-width: 22ch;
    }
    .first h2{
      max-width: 50ch
    }
    .second{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
</style>