---
import { Image } from "astro:assets";
import Cartulina from "@/img/cartulina.webp";
import LightMario from "@/img/light-mario.webp";
import DarkMario from "@/img/dark-mario.webp";
import { getI18N } from "@/i18n";

const {currentLocale} = Astro;

const i18n = getI18N({currentLocale})
---

<section>
    <!-- <img src="/dark-mario.webp" alt=""> -->
    <Image src={LightMario} class="lightImg" widths={[240, 540, 720, LightMario.width / 2]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1000px) 720px, ${LightMario.width}px `}, alt="yo pues" />
    <Image src={DarkMario} class="darkImg" width={DarkMario.width} densities={[1.5, 2, 3]} alt="yo pues" />
    
  <div class="text-me">
    <h3 set:html={i18n.ME_SUBTITLE}/>
    <h1 class="me-title">{i18n.ME_TITLE}</h1>
    <p set:html={i18n.ME_PARAGRAPH}></p>
    <div class="box">
      <a class="button" href="#popup1">{i18n.ME_BTNTEXT}</a>
    </div>
  </div>
  <div id="popup1" class="overlay">
    <div class="popup">
      <h2>Welcome to CodeConvey!</h2>
      <a class="close" href="#">&times;</a>
      <div class="inside">
        <section class="modal">
          <h2>Payment information</h2>
          <p>
            <label for="card">
              <span>Card type:</span>
            </label>
            <select id="card" name="usercard">
              <option value="visa">Visa</option>
              <option value="mc">Mastercard</option>
              <option value="amex">American Express</option>
            </select>
          </p>
          <p>
            <label for="number">
              <span>Card number:</span>
              <strong><span aria-label="required">*</span></strong>
            </label>
            <input type="tel" id="number" name="cardnumber" required />
          </p>
          <p>
            <label for="expiration">
              <span>Expiration date:</span>
              <strong><span aria-label="required">*</span></strong>
            </label>
            <input
              type="text"
              id="expiration"
              name="expiration"
              required
              placeholder="MM/YY"
              pattern="^(0[1-9]|1[0-2])\/([0-9]{2})$" />
          </p>
          <button type="button">Enviar</button>
        </section>
        
      </div>
    </div>
  </div>
</section>
<div class="h-line"></div>

<style>
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
  }

  img {
    /* width: 100px;
    height: 100px; */
    border-radius: 50%;
  }

  .text-me {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    padding: 1em;
  }
  h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0;
    text-align: center;
    
  }
  .me-title {
    text-transform: uppercase;
    text-wrap: balance;
    font-weight: 900;
    font-size: 2.1rem;
    line-height: 1.2;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
		background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    text-wrap: pretty;
    line-height: 1.8;
    font-weight: 500;
    margin-bottom: 30px;
    
    max-width: 35ch;
  }
  .button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}


  .modal{
    height: 40vh;
  }
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 30;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.popup h2 {
  margin: 10px;
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 16px;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
  .h-line {
    width: 100%;
    height: 2px;
    background-color: grey;
  }
  .popup .inside {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

  @media screen and (min-width: 768px) {

  }
  @media screen and (min-width: 1024px) {
    section {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      max-width: 70%;
    margin: 0 auto;
    }
    section img{
      width: auto;
      height: auto;
      border-radius: 0;
      mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
    }
    .text-me {
      position: relative;
      max-width: 500px;
      height: fit-content;
      align-items: center;
      margin-top: 2em;
    }
    h1 {
      font-size: 4rem;
      line-height: 1.2;
      margin-block: 10px;
    } 
    .cardboard {
      display: none;
    }
  }
</style>