---
import { Image } from "astro:assets";
import LadoMario from "@/img/lado.webp";
import FrenteMario from "@/img/frente.webp";
import Suple from "@/img/about-hero.webp";

import { getI18N } from "@/i18n";

const {currentLocale} = Astro;

const i18n = getI18N({currentLocale})
---

<section>
  <div class="phrase-img">
    <p>{i18n.HEROABOUT_PHRASE}</p>
    <Image src={FrenteMario} class="lightImg" widths={[ 300, FrenteMario.width]}
      sizes={`(max-width: 650px) ${FrenteMario.width/2}px, (max-width: 1000px) ${FrenteMario.width}px `} height={FrenteMario.height/2.5} alt="Fondo verde de naturaleza, Mario frente de esta" loading="eager" class="about-img" />
    
  </div>
  <hr>
  <div class="first">
    <h2>{i18n.HEROABOUT_TITLE}</h2>
    <p set:html={i18n.HEROABOUT_TEXT}></p>
  </div>
  <hr>
  <div class="container">
    <div class="second">
      <h2>{i18n.HEROABOUT_TITLE2}</h2>
      <p>{i18n.HEROABOUT_TEXT2}</p>
    </div>
    <Image src={Suple} height={Suple.height/4} alt="Mano de Mario a punto de agarrar un bote de suplemento cognitivo"></Image>
  </div>
  <hr>
  <h2>{i18n.HEROABOUT_TITLE3}</h2>
  <ul>
    <li>{i18n.HEROABOUT_TEXT3}</li>
  </ul>
</section>

<style>
  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 8dvh;
    align-items: center;
  }
  div {
    width: 100%;
    text-align: left;
  }
  h2{
    text-align: center;
    margin-bottom: 14px;
    max-width: 50ch
  }
  p {
    max-width: 60ch;
    padding-inline: 2rem;
    line-height: 1.75rem;
    font-weight: 300;
  }
  p, h2 {
    margin: 10px auto 0;
  }
  hr {
    margin-block: 14px;
    width: 98dvw;
  }
  ul {
    margin-top: 1rem;
  }
  img {
    max-width: 100%;
  }
  .phrase-img{
    display: flex;
    align-items: center;
    margin-top: 7px;
  }
  .phrase-img p{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: xx-large;
    line-height: 1.5em;
  }
  .about-img {
    display: none;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .second{
    margin-bottom: 14px;
  }
  @media screen and (min-width: 800px) {
    div{
      text-align: center;
    }
    
    .phrase-img p{
      max-width: 20ch;
    }
    .container{
      flex-direction: row;
    }
    .second{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  @media screen and (min-width: 1024px) {
    div{
      display: flex;
      gap: 10px;
      padding-inline: 3rem;
      align-items: center;
      justify-content: space-around;
    }
    h2{
      max-width: 25ch;
    }
    .second{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .about-img {
      display: inline;
      max-width: 80%;
    }
  }
</style>