---
import { Image } from "astro:assets";

import { getI18N } from "@/i18n";

const {currentLocale} = Astro;

const i18n = getI18N({currentLocale})
---

<section>
  <div class="text-me">
    <h3 set:html={i18n.ME_SUBTITLE}/>
    <h1>{i18n.ME_TITLE}</h1>
    <p>{i18n.ME_PARAGRAPH}</p>
    <button>{i18n.ME_BTNTEXT}</button>
  </div>
  <div class="photo-me">
    <Image src={"/Mario-2-removebg-preview.png"} alt={"Yo pues quien mas"} width={400} height={612} />
  </div>
  <div class="h-line"></div>
</section>

<style>
  section {
    position: relative;
    width: 100%;
    height: 96vh;
  }
  .text-me {
    position: absolute;
    width: 100%;
    top:350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0;
    text-align: center;
  }
  h1 {
    text-transform: uppercase;
    text-wrap: balance;
    font-weight: 900;
    font-size: 2.1rem;
    line-height: 1.2;
    margin-block: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  p {
    text-wrap: pretty;
    line-height: 1.8;
    font-weight: 500;
    margin-bottom: 30px;
  }
  button {
    background-color: orange;
  }
  button:hover {
    background-color: green;
  }
  .photo-me {
    width: 100%;
    height: 96vh;
  }

  .h-line {
    width: 100%;
    height: 1px;
    background-color: grey;
  }

  @media screen and (min-width: 1024px) {
    section {
      display: flex;
      flex-direction: row;
    }
    .text-me {
      width: 100%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2em;
      padding: 3rem;
    }
    h1 {
      font-size: 5.7rem;
      line-height: 1.2;
      margin-block: 10px;
    }
  }
</style>