---
import { getCollection } from "astro:content";


const daniTrianings = await getCollection("dani");
const { username, week, id } = Astro.params;
const daniTrianingsWeek1 = daniTrianings.filter((wod) => wod.data.week === 1);
const daniTrianingsWeek2 = daniTrianings.filter((wod) => wod.data.week === 2);
---

<section>
  <h2>Semana {daniTrianingsWeek1[0].data.week}</h2>
  <ul>
    {
      daniTrianingsWeek1.map((wod) =>{

      return (
        <li>
          <a href={`/training/dani/${wod.id}`}>Día {wod.data.day} {wod.data.dia_de_semana}</a>
        </li>
       )
      })
    }
  </ul>
  <h2>Semana {daniTrianingsWeek2[0].data.week}</h2>
  <ul>
    {
      daniTrianingsWeek2.map((wod) =>{

      return (
        <li>
          <a href={`/training/dani/${wod.id}`}>Día {wod.data.day} {wod.data.dia_de_semana}</a>
        </li>
       )
      })
    }
  </ul>
</section>
