---
import BlogPost from "@/components/BlogPost.astro"
import { getCollection } from "astro:content";
const allBlogs = await getCollection("blog");
const {currentLocale} = Astro
---
<main>
  <div>
      
    <h2>Bienestar y alto rendimiento hasta en la caja de cereal!</h2>
    <p>
      El centro de bienestar y alto rendimiento eseta bien perro porque tiene Linux de infraestructura, Astro para su front-end, el backend es posible que igual, usando nodejs o cloudfare y las herramientas estan cabronas
    </p>
  </div>
  <aside>
    
  </aside>
  <section>
    <ul>

      {
        allBlogs.map((post) => {
          const fecha = post.data.pubDate;
          const bDate = new Intl.DateTimeFormat(currentLocale, {
            dateStyle: 'long',
            timeZone: 'UTC'
          }).format(fecha)
          const [lang, ...slug] = post.slug.split('/');
          if(lang === currentLocale){
            
            return <BlogPost url={`/${lang}/blog/${slug}`} title={post.data.title} date={bDate} description={post.data.description} image={post.data.image.url} alt={post.data.image.alt} />
          }
        })
      }
    </ul>
  </section>
</main>

<style>
  main {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div {
    position: relative;
    margin-top: 15dvh;
    padding-inline: 2rem;
    max-width: 769px;
  }
  section {
    max-width: 769px;
    width: 100dvw;
    padding-inline: 2rem;
    margin-block: 3rem;
  }
  ul{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    list-style-type: none;
  }
</style>