---
import BlogPost from "@/components/BlogPost.astro"
import { getCollection } from "astro:content";
const allBlogs = await getCollection("blog");
const {currentLocale} = Astro
---
<main>
  <div>
      
    <h2>Bienestar y alto rendimiento hasta en la caja de cereal!</h2>
  </div>
    <p>
      El centro de bienestar y alto rendimiento eseta bien perro porque tiene Linux de infraestructura, Astro para su front-end, el backend es posible que igual, usando nodejs o cloudfare y las herramientas estan cabronas
    </p>
  <aside>
    
  </aside>
  <section>
    <ul>

      {
        allBlogs.map((post) => {
          const [lang, ...slug] = post.slug.split('/');
          if(lang === currentLocale){
            
            return <BlogPost url={`/${lang}/blog/${slug}`} title={post.data.title} date={post.data.pubDate} description={post.data.description} />
          }
        })
      }
    </ul>
  </section>
</main>

<style>
  main {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div {
    position: relative;
    margin-top: 100px;
    padding-block: 2rem;
  }
  section {
    max-width: 769px;
    width: 100dvw;
    padding-inline: 2rem;
  }
  ul{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
</style>