---
import TrainingGrid from "@/components/TrainingGrid.astro";
import Endurance from "@/icons/endurance.astro";
import Strength from "@/icons/strength.astro";
import Hipertrophy from "@/icons/hipertrophy.astro";
import Loss from "@/icons/loss.astro";
import Power from "@/icons/power.astro";
import Longevity from "@/icons/longevity.astro";
import Breath from "@/icons/breathwork.astro";
import Mental from "@/icons/mentalhealth.astro";
import Mobility from "@/icons/mobility.astro";
import { getI18N } from "@/i18n";

const {currentLocale} = Astro;

const i18n = getI18N({currentLocale})

---

<section>
  <h2>{i18n.TRAINING_TYPES}</h2>
  <div>
    <TrainingGrid title={i18n.TRAINING_TITLES.ENDURANCE} >
      <Endurance slot="svg"/>
      <p slot="content">{i18n.TRAINING_DESCRIPTIONS.ENDURANCE}</p>
    </TrainingGrid>
    <TrainingGrid title={i18n.TRAINING_TITLES.STRENGTH}>
      <Strength slot="svg"/>
      <p slot="content">{i18n.TRAINING_DESCRIPTIONS.STRENGTH}</p>
    </TrainingGrid>
    <TrainingGrid title={i18n.TRAINING_TITLES.HIPERTROPHY}>
      <Hipertrophy slot="svg"/>
      <p slot="content">{i18n.TRAINING_DESCRIPTIONS.HIPERTROPHY}</p>
    </TrainingGrid>
    <TrainingGrid title={i18n.TRAINING_TITLES.WEIGHT_LOSS}>
      <Loss slot="svg"/>
      <p slot="content">{i18n.TRAINING_DESCRIPTIONS.WEIGHT_LOSS}</p>
    </TrainingGrid>
    <TrainingGrid title={i18n.TRAINING_TITLES.POWER}>
      <Power slot="svg"/>
      <p slot="content">{i18n.TRAINING_DESCRIPTIONS.POWER}</p>
    </TrainingGrid>
    <TrainingGrid title={i18n.TRAINING_TITLES.LONGEVITY}>
      <Longevity slot="svg"/>
      <p slot="content">{i18n.TRAINING_DESCRIPTIONS.LONGEVITY}</p>
    </TrainingGrid>
    <TrainingGrid title={i18n.TRAINING_TITLES.BREATHWORK}>
      <Breath slot="svg" />
      <p slot="content">{i18n.TRAINING_DESCRIPTIONS.BREATHWORK}</p>
    </TrainingGrid>
    <TrainingGrid title={i18n.TRAINING_TITLES.MOBILITY}>
      <Mobility slot="svg" />
      <p slot="content">{i18n.TRAINING_DESCRIPTIONS.MOBILITY}</p>
    </TrainingGrid>
  </div>
</section>

<style>
  section {
      max-width: 90%;
      width: 100%;
      margin: auto;
    }
    h2{
      margin-block: 2rem;
      letter-spacing: .2rem;
      font-size: 2rem;
      text-align: center;
    }
    div {
      display: grid;
      grid-gap: 1rem;
      grid-auto-rows: 20rem;
    }
    p{
      width: 100%;
    }
    @media (min-width: 800px) {
      div {
        grid-template-columns: repeat(10, minmax(0, 2fr));
      }
    }
    @media (min-width: 1024px) {
      h2 {
        margin-block: 4rem;
        letter-spacing: .5rem;
        font-size: 3rem;
      }
      section {
        max-width: 70%;
      }
    }
</style>