---
import { getI18N } from "@/i18n";

const {currentLocale} = Astro;

const i18n = getI18N({currentLocale})
---
<section>
  <h2>{i18n.WHY_TITLE}</h2>
  <div>
    <p>
      {i18n.WHY_PARAGRAPH}
    </p>
    <p>
      {i18n.WHY_PARAGRAPH2}
    </p>
    <p>
      {i18n.WHY_PARAGRAPH3}
    </p>
    <p>
      {i18n.WHY_PARAGRAPH4}
    </p>
  </div>
</section>

<style>
  section {
    height: auto;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  h2 {
    margin-block: 2rem;
    letter-spacing: .2rem;
    font-size: 2rem;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
  }
  p {
    width: 100%;
    text-wrap: pretty;
    font-size: 1rem;
    padding: 1rem 0;
    letter-spacing: 2px;
    text-align: left;
    animation: spacing 2s 1;
    }
    @keyframes spacing{
      50% {letter-spacing: 2px;}
    }
    @media screen and (min-width: 1024px) {
      section {
        max-width: 70%;
      }
      h2 {
        margin-block: 4rem;
        letter-spacing: .5rem;
        font-size: 3rem;
      }
      p {
      font-size: 2rem;
      letter-spacing: 2px;
      }
    }
</style>
