---
import { Image } from "astro:assets";
import Layout from "./Layout.astro";
import PostViews from "@/components/PostViews.astro";
import '@/post.css'

import { getLangFromUrl, useTranslations, useTranslatedPath } from '@/i18n/utils';

const slug = Astro.params.slug;
const { frontmatter } = Astro.props;
const {currentLocale} = Astro;
console.log(slug);

let fecha = frontmatter.pubDate;
const bDate = new Intl.DateTimeFormat(currentLocale, {
  dateStyle: 'long',
  timeZone: 'UTC'
}).format(fecha)

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const url = Astro.url.pathname;
const nurl = url.slice(3, 9);
// console.log("blog ",url);
// console.log("blog ",nurl);
---

<Layout title={frontmatter.title}>
  <main>
    <div class="container">
      <a href={translatePath(`${ nurl}`, lang)}>{t('blog.back')}</a>
      <div class="post-container">

        <header class="post-header">
          <h1>{frontmatter.title}</h1>
          
          <span class="content-info"> <time datetime={fecha}>{bDate}</time> | <a href="https://www.instagram.com/elchico_sw/">{frontmatter.author}</a> | <PostViews slug={slug ? slug : ''}/></span>
          
          <p>{frontmatter.description}</p>
          <Image src={frontmatter.image.url} alt={frontmatter.image.alt} loading={"eager"} width={1500} height={643}/>
        </header>
        <article >
          <!--<div class="tags">
            {
              frontmatter.tags.map((tag: any) => (
              <p class="tag">
                <a href={`/tags/${tag}`}>{tag}</a>
              </p>
              ))
            }
          </div>
          <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} /> -->
          <div class="rich-text-content">

            <slot />
          </div>
        </article>
      </div>
  </div>
  </main>
</Layout>
<style>
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding-block: 9dvh;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem
  }
  .post-container {
    border: 2px solid var(--border-color);
    border-radius: 10px;
  }
  .content-info {
    min-width: 300px;
    text-align: start;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.2rem;
  }
  .content-info a {
    margin: 0;
  }
  header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  article {
    padding-inline: 2rem;
	  padding-block: 2.5rem;
  }
  
  a {
    width: fit-content;
    margin-top: 10px;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
  img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
    min-height: 240px;
  }
  @media screen and (min-width: 1024px) {
    
  }
</style>
